{% extends "base.html" %}
{% block title %}
  Страница выгрузки ППР
{% endblock %}
{% block content %}
    <ul>
      {% for file in files %}
        <li>{{ file.file_name }} (Загружено: {{ file.upload_date }})</li>
      {% endfor %}
    </ul>

    <!-- Добавьте кнопку "Загрузить" -->
    <form method="post" enctype="multipart/form-data" action="{% url 'pages:upload_file' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Загрузить</button>
    </form>
{% endblock %}
