



<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2">Название объекта</th>
        <th class="col-md-1">SAP</th>
        <th class="col-md-2">Юридическое лицо</th>
        <th class="col-md-2">Адрес объекта</th>
        <th class="col-md-1">Номер позиции</th>
        <th class="col-md-1">Модель ФР</th>
        <th class="col-md-1">Серийный номер ФР</th>
        <th class="col-md-1">Серийный номер ФН</th>
        <th class="col-md-1">Дата первичной регистрации</th>
        <th class="col-md-1">Дата замены</th>
      </tr>
    </thead>
    <tbody id="table-body">
      {% for fn_replacement in fn_replacements_page %}

          <td class="table-body-cell">{{ fn_replacement.name_object }}</td>
          <td class="table-body-cell">{{ fn_replacement.sap }}</td>
          <td class="table-body-cell">{{ fn_replacement.legal_entity }}</td>
          <td class="table-body-cell">{{ fn_replacement.addres_object }}</td>
          <td class="table-body-cell">{{ fn_replacement.nomer_pos }}</td>
          <td class="table-body-cell">{{ fn_replacement.model_fr }}</td>
          <td class="table-body-cell">{{ fn_replacement.sn_fr }}</td>
          <td class="table-body-cell">{{ fn_replacement.sn_fn }}</td>
          <td class="table-body-cell">{{ fn_replacement.date_fp }}</td>
          <td class="table-body-cell">{{ fn_replacement.replacement_date }}</td>

      {% endfor %}
    </tbody>
  </table>
</div>


