<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" style="font-size: 14px;">
            <thead>
                <tr>
                    <th>Название объекта</th>
                    {% if request.resolver_match.url_name == 'fn_list' %}
                        <th>SAP</th>
                        <th>Юридическое лицо</th>
                        <th>Адрес объекта</th>
                        <th>Модель ФР</th>
                        <th>Серийный номер ФР</th>
                        <th>Серийный номер ФН</th>
                    {% endif %}
                    <th>Номер кассы</th>
                    <th>Дата замены</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for fn_replacement in page_obj %}
                    <tr>
                        <td>{{ fn_replacement.name_object }}</td>
                        {% if request.resolver_match.url_name == 'fn_list' %}
                            <td>{{ fn_replacement.sap }}</td>
                            <td>{{ fn_replacement.legal_entity }}</td>
                            <td>{{ fn_replacement.addres_object }}</td>
                            <td>{{ fn_replacement.model_fr }}</td>
                            <td>{{ fn_replacement.sn_fr }}</td>
                            <td>{{ fn_replacement.sn_fn }}</td>
                        {% endif %}
                        <td>{{ fn_replacement.nomer_pos }}</td>
                        <td>{{ fn_replacement.replacement_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
